@model  MusicStore.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home";
    ViewBag.Current = "Home";
}

<div class="row">
    <div>This is the home page</div>
    <div>
        <img src="~/Content/Images/home-showcase.png" />
    </div>
</div>
@Html.Partial("CarouselList", Model.FeaturedAlbums, new ViewDataDictionary { { "CarouselText", "Featured Artist: " + Model.FeaturedArtist.Name } })
<hr />
@Html.Partial("CarouselList", Model.TopSellingAlbums, new ViewDataDictionary { { "CarouselText", "Top Selling Albums:" } })
