@model  MusicStore.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div>This is the home page</div>
    <div>
        <img src="~/Content/Images/home-showcase.png" />
    </div>
    <div>
        <h1>Featured Artist: @Model.FeaturedArtist.Name</h1>
        <div>
            @Html.DisplayFor(m => m.FeaturedAlbums, "AlbumList")
        </div>
        <hr />
    </div>

    <div>
        <h1>Top Selling Albums:</h1>
        <div>
            @Html.DisplayFor(m => m.TopSellingAlbums, "AlbumList")
        </div>
    </div>
</div>