@model IEnumerable<MusicStore.DAL.Models.Album>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    Carousel Product Cart Slider
                </h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn-success" href="#my-carousel-id"
                       data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#my-carousel-id"
                                                data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="my-carousel-id" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        @Html.Partial("AlbumList", Model.Take(5).ToList())
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        @Html.Partial("AlbumList", Model.Skip(5).Take(5).ToList())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
