@model IEnumerable<MusicStore.DAL.Models.Album>

<!-- Controls -->
<div class="row">
    <div class="col-md-8 ">
        <p class="h3 pull-left">@ViewData["CarouselText"]</p>
    </div>
    <div class="col-md-4 carousel-navigator">
        <a class="btn  btn-primary left" href="#my-carousel-id"
           data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class= "btn btn-primary right" href="#my-carousel-id"
           data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="my-carousel-id" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row album-carousel">
                        @Html.Partial("AlbumList", Model.Take(5).ToList())
                    </div>
                </div>
                @{
                    var nextSlides = Model;
                    while (nextSlides.Any())
                    {
                        nextSlides = nextSlides.Skip(5).ToList();
                        if (nextSlides.Any())
                        {
                            <div class="item">
                                <div class="row album-carousel">
                                    @Html.Partial("AlbumList", nextSlides.Take(5))
                                </div>
                            </div>
                        }
                    }
                }
            </div>          
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".carousel-navigator a").on("click", function (e) {
            e.preventDefault();
            $("#my-carousel-id").carousel("prev");
        });

    }); //End Document ready
</script>