@model MusicStore.ViewModels.ShoppingCartViewModel

<h2>Shopping Cart</h2>
<div id="cart-summary">
    @Html.Partial("_CartDetails")
</div>
<div class="btn btn-block">
    <span>Checkout</span>
</div>
