@model MusicStore.Models.Album

@{ 
    ViewBag.Title = "Details";
}
<div>
    <h2>Details</h2>
    <img src="@Model.AlbumArtUrl">
    <h2>Album :   @Model.Title</h2>
    <h2>By :   @Model.Artist.Name</h2>
</div>
