@model MusicStore.DAL.Models.Album

@{
    ViewBag.Title = "Details";
    ViewBag.Current = "Store";
}
<div>
    <h2>Details</h2>
    <img src="@Model.AlbumArtUrl">
    <text>Album :   @Model.Title</text>
    <text>By :   @Model.Artist.Name</text>
    @Ajax.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { albumId = Model.AlbumId}, null)
</div>
