@model IEnumerable<MusicStore.Models.Genre>

@{
    ViewBag.Title = "Genres";
}
<div>
    <h2>Genres:</h2>
    <ul>
        @foreach (var genre in Model)
        {
            <li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
        }
    </ul>
</div>