body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #FBF9EF;
  padding: 0px 6%;
  padding-top: 50px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.album-list {
  float: left;
  padding: 20px 20px 20px 0px;
  cursor: pointer;
  font-size: 14px;
}
.album-list img {
  height: 150px;
  width: 150px;
  border: 1px solid #c7c7c7;
  padding: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal-content {
  width: 600px;
  margin: 30px auto;
}
#wrapper {
  width: 80%;
  max-width: none;
  margin: 0 auto;
  margin-bottom: 100px;
}