@model MusicStore.Models.Order

@{
    ViewBag.Title = "Address and Payment";
}

@using (Html.BeginForm("AddressAndPayment", "Checkout", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h2>Address and Payment</h2>
    <hr />
    <div class="input-group">
        @Html.EditorForModel()
    </div>
    <div class="input-group">
        <h2>Payment Section</h2>
        <text> Development environment: Everything is free.</text>
    </div>
    <input type="submit" value="Submit Order" />
}